*{
    padding: 0;
    margin: 0;
}
body{
    margin: 10%;
}

.second{
    display: flex;
}
p{
    margin-left: 50px;
    padding-top: 30px;
}
.third{
    display: flex;
}
.fourth{
    display: flex;
}
i{
    margin-left: 50px;
    padding-top: 30px;
}